body {
  position: relative;
}


body.modal-open {
    width: 100% !important;
    padding-right: 0 !important;
    overflow-y: scroll !important;
}

.carousel-inner {
    margin-top: 4.5%;
}



a {
    opacity: 1;
}



.image {
    display: block;
    margin: auto;
}





.image-1 {
    display: block;
}

li {
    list-style: none;
}

.fa-check-circle-o {
    margin-right: 1%;
}

.jumbotron {
    
   /* 
    background-color: darkgrey;
    background-image: url('/img/London-1.svg');
    background-size: cover;
   background-repeat: no-repeat;
 */  
    
    
}

.dropdown-item.active, .dropdown-item:active {
    background:#d9534f;
}

